<div class="parallax1">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <%= image_tag("logo.png", size: "100") %>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 middle">
    </div>
    <div class="col-md-6 landing_center">
      <div id="clearance" class="sign-in">
        <div class="container center-block">
          <h2 class="header"><% t(".title") %></h2>
          <%= render partial: '/sessions/form' %>
        </div>
      </div>
    </div>
    <div class="col-md-2 middle">
    </div>
  </div>
</div>

<div class="container">
  <br>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-md-2 middle"></div>
    <div class="col-md-8 middle">
      <h1> WHAT CAN SQUAD UP DO FOR YOU? </h1>
      <h3> Squad Up is a HR Tool that matches people with specific talents in acompany, to project owners. That means you always have the best team aroundyou for the tasks that matter. </h3>
    </div>
    <div class="col-md-2 middle"></div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-xs-6 col-sm-4 ">
      <%= image_tag "admin.png", class:"img-circle my-img center-block"  %>
    </div>
    <div class="col-xs-6 col-sm-4 ">
      <%= image_tag "managers.png", class:"img-circle my-img center-block"  %>
    </div>
    <div class="col-xs-6 col-sm-4">
      <%= image_tag "teams.png", class:"img-circle my-img center-block"  %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-4 middle">
      <h2> HR Staff </h2>
    </div>
    <div class="col-xs-6 col-md-4 middle">
      <h2> Managers </h2>
    </div>
    <div class="col-xs-6 col-md-4 middle">
      <h2> Team Members </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-4 middle">
      <h4> Have complete control over who approves projects. </h4>
    </div>
    <div class="col-xs-6 col-md-4 middle">
      <h4> View all projects, and empower your staff to build teams. </h4>
    </div>
    <div class="col-xs-6 col-md-4 middle">
      <h4> Have a project? Bring together the best people for your team. </h4>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="parallax"></div>
