<% if @errors %>
  <% @errors.each do |attr,msg| %>
      <li><%= msg %></li>
  <% end %>
<% end %>


<div class="container-fluid user_darkblue user_skill_height">
  <div class="container user_darkblue">
      <h1 class="user_skills_title_desc"> Your skills </h1>
      <hr>
      <% @current_skills.pluck(:category).uniq.in_groups_of(3, false).each do |group| %>
        <div class="row">
          <% group.each do |category| %>
            <div class="category col-md-4">
              <h2 class="userssub user_skills_sub"> <%= category %> </h2>
              <% @current_skills.where(category: category).each do |skill| %>
                <h2 class="user_skills_info"><%= skill.skill_name %></h2>
              <% end %>
              </br>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <br><br><br>
</div>

  <div class="container">
    <hr size="10">

      <div>
        <%= form_for @skill, url: add_user_skills_path do |form| %>
          <div>
            <h1> Add skill(s) to your portfolio </h1>
            <% Skill.distinct.pluck(:category).each do |category| %>
              <div>
                <%= form.label :category, category.upcase %>
                <%= form.collection_select(:skill_name, Skill.where(category: category).where.not(id: @current_skills.ids), :id, :skill_name, {include_hidden: false}, {name: "skill_ids[]", multiple: true, class: "form-control"}) %>
              </div>
            <% end %>
            </br>
            <div> <h2> Have a skill that isn't listed? </h2>
              <div>
                <%= form.label :category, "Category" %>
                <%= form.select(:category, (Skill.distinct.pluck(:category)), {prompt: "Please choose a category"}, {class: "form-control"})%>
              </div>
               <div>
                <%= form.label :skill, "Skill" %>
                <%= form.text_field :skill_name, class: "form-control" %>
              </div>
            </div>
            </br>
            <div>
              <%= form.submit "Add skill(s)", class: "btn btn-primary btn-lg btn-block" %>
            </div>
          </div>
        <% end %>
      </div>
      <br><br><br><br>
  </div>
