<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 index_biege middle">
			<br>
			<div class="herotext"> LEVEL UP! </div>
			<div class="subtext"> Looking for relevant skills? </div>
			<div class="subtext"> Get mentorship here. </div>
		</div>
		<div class="col-md-6 index_blue3 middle">
			<%= image_tag "index_skill.png", class:"my-img center-block"  %>
		</div>
	</div>
</div>
<div class="container-fluid index_darkblue">
	<div class="row">
		<% @skills.each do |skill| %>
			<div class="col-sm-2">
				<%= image_tag "skill#{[1,2,3].sample}.png", class: "card_img" %>
				<div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-form skills_card" style="height: 250px">
					<h2 class="pmd-card-title-text">
		  		<%=link_to "#{skill.skill_name}", skills_path(skill) %>
					</h2>
					<%= form_for @mentorship do |form| %>
				  	<span class="pmd-card-subtitle-text">
				  		<% skill.users.each do |user| %>
				  			<div style="width: 150px; display: inline-block;">
				  				<%=link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
				  			</div>
				  			<%= form.hidden_field :skill_id, value: "#{skill.id}" %>
								<%= form.radio_button :mentor_id, "#{user.id}", id: "user_id" %>
								<br>
							<%end%>
				  	</span>
				  	<div class="pmd-card-actions">
				  	<!-- Trigger the modal with a button -->
							<button type="button" class="btn btn-primary btn-md pmd-ripple-effect btn-primary skills_button" data-toggle="modal" data-target="#myModal">Send Request</button>

							<!-- Modal -->
							<div id="myModal" class="modal fade" role="dialog">
							  <div class="modal-dialog">

							    <!-- Modal content-->
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal">&times;</button>
							        <h1 class="modal-title">Send a message with your request?</h1>
							      </div>
							      <div class="modal-body">
							        <%= form.text_area :mentee_message, class: "form-control" %>

							        <%= form.hidden_field :mentor_id, id: "mentor_id" %>

							      </div>
							      <div class="modal-footer">
							        <%= form.submit "Send Request", class: "btn btn-primary" %>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
		    	<% end %>
				</div>
			</div>
		<%end%>
	</div>
</div>

<script type="text/javascript">
	$( "input[name='mentorship[mentor_id]'").click(function() {
  	$("input[name='mentorship[mentor_id]'").prop("checked", false)
  	$(this).prop("checked", true)
	});
		$(this).prop("checked", false)
	$("form").change(function() {
		var user_id = $("input[name='mentorship[mentor_id]']:checked").val();
		$("#mentor_id").val(user_id);
	})
</script>
