
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 index_biege middle">
		</div>
		<div class="col-md-6 index_biege middle">
			<br><br><br>
			<div class="herotext_squad">Build Your Dream Team </div>
						<hr>
			<div class="subtext"> Project: <%= @project.title %> </div>

		</div>
		<div class="col-md-3 index_biege middle">
		</div>
	</div>
</div>


<div class="container-fluid index_darkblue">
	<div class="row">
		<div class="col-sm-3">
		</div>
				<div class="col-sm-6 middle">
						<h1 class="herotext_squad"> Select your team below</h1>
				</div>
		<div class="col-sm-3">
		</div>
	</div>
	<br><br><br>
	<%= form_for @project, url: project_team_members_path, method: "get" do |form| %>
		<div class="row">
			<% @project.skills.each do |skill| %>
				<div class="col-sm-3">
					<%= image_tag "Staff#{[1,2,3,4,5].sample}.png", class: "card_img" %>
					<div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-form skills_card" style="height: 250px">
						<h2 class="pmd-card-title-text"><%= skill.skill_name %> </h2>
						</br>
						<% skill.users.where.not(id: current_user.id).each do |user| %>
							<div>
								<label>
									<table>
										<tr>	
											<td width="1000">
												<%= "#{user.first_name} #{user.last_name}" %>
											</td>
											<td>
  											<%= form.check_box :users, { multiple: true, name: "#{skill.id}[]"}, user.id, nil %>
  										</td>
  										<td>
  											&nbsp;&nbsp;&nbsp;
  										</td>
										</tr>
									</table>
								</label>
							</div>
						<% end %>
						<hr>
					</div>
				</div>
			<% end %>
		</div>
	</div>


	<div class="row">
		<div class="col-md-3 middle">
		</div>
		<div class="col-md-6 middle">
			<br><br><br>
			<%= form.submit "Select Team!", class:"btn btn-primary btn-lg btn-block submit-field" %>
		</div>
	<% end %>
	</div>
	<div class="row">
		<div class="col-md-3 middle">
		</div>
		<div class="col-md-6 middle">
		</br>
			<%= button_to "Tweak your skill needs", edit_project_skills_path(@project), method: :get, class:"btn btn-primary btn-lg btn-block submit-field" %>
		</div>
	</div>
</div>
<br>
<br>
<br>
