
<div class="container-fluid">
    <div class="row row_darkblue">
        <div class="col-md-6 projects_darkblue">
            <h1 class= "projects_title_desc">
              Project Name
            </h1>
            <h1 class= "projects_title">
              <%= @project.title %>
            </h1>
            <hr>
            <h4 class="projects_header">
                <%= @project.description %>
            </h4>
            <h3 class="projects_sub">
              Status: <%= @project.status.titleize %>
            </h3>
        </div>

        <div class="col-md-6 projects_blue2">
          <h1 class= "projects_title_desc_bk">
            Project Manager
          </h1>
          <h1 class="projects_title_bk" >
            <%= @project.project_owner.first_name %>
            <%= @project.project_owner.last_name %>
          </h1>
              <hr>
            <h2 class="projects_header_bk"> Skills Required </h2>
              <% @project.skills.each do |skill| %>
                <div class= "container-fluid">
                  <div class="col-md-4 projects_sub_bk">
                    <%= skill.skill_name %>
                  </div>
                </div>
              <% end %>

          <% if @project.users.exists? %>
            <table>
              <tr>
                <h1 class="projects_header_bk"> Team Members </h1>
              <tr>
              <% @project.users.each do |user| %>
                <tr>
                  <td><%= user.first_name %> <%= user.last_name %> </td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td><%= ProjectTeamMember.find_by(project_id: @project.id, user_id: user.id).status.titleize %> </td>
                </tr>
              <% end %>
            </table>
          <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 middle projects_beige">
    </div>
    <div class="col-md-4 middle projects_beige">
      <br><br><br>
      <%= button_to "Back to Profile", user_path(current_user), method: "get", class: "btn btn-primary btn-lg btn-block" %>
      <br>
      <%= button_to "Back to All Projects", projects_path, method: "get", class: "btn btn-primary btn-lg btn-block" %>
    </div>
    <div class="col-md-4 middle projects_beige">
    </div>
  </div>
</div>
