
<div class="container-fluid">
<div class="row">
    <div class="col-md-5 projects_darkblue">
        <h1 class= "projects_title_desc">
          Project Name
        </h1>
        <h1 class= "projects_title">
          <%= @project.title %>
        </h1>
        <hr>
        <h4 class="projects_header">
            <%= @project.description %>
        </h4>
        <h3 class="projects_sub">
          Status: <%= @project.status.titleize %>
        </h3>
    </div>

    <div class="col-md-7 projects_blue2">
      <h1 class= "projects_title_desc_bk">
        Project Manager
      </h1>
      
      <h1 class="projects_title_bk" >
        <%= @project.project_owner.first_name %>
        <%= @project.project_owner.last_name %>
      </h1>
        <hr>
        <h2> Skills Required </h2>
        <h2> Category </h2>
        <h2> Skill </h2>
          <% @project.skills.each do |skill| %>
            <h1 class="projects_sub_bk" >
              <%= skill.category %>
              <%= skill.skill_name %>
            </h1>
          <% end %>
          <% if @project.users.exists? %>
            <table>
              <tr>
                <th> Team Members </th>
              <tr> 
              <% @project.users.each do |user| %>
                <tr>
                  <td><%= user.first_name %> <%= user.last_name %> </td>
                  <td><%= ProjectTeamMember.find_by(project_id: @project.id, user_id: user.id).status.titleize %> </td> 
                </tr>
             <% end %>
          <% end %>
    </div>
</div>
